//Binary to decimal
#include <stdio.h>
#include <stdlib.h>
int main()
{
    int n,sum,base,digit;
    printf("Enter the binary number\n");
    scanf("%d",&n);
    sum=0;
    base=1;
    while(n!=0)
    {
        digit=n%10;
        n=n/10;
        sum=sum+digit*base;
        base=base*2;
    }
    printf("Decimal:%d",sum);
}
